<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>百老匯影院</title>
  <!-- other meta tags, stylesheets, or scripts can be included here -->
</head>
<body>
  <!-- content of your web page goes here -->
  <a href="movie.html">即將上映</a></li>
  <a href="day-movie.html">即日 / 預售電影</a></li>
  <a href="payment.html">票價</a></li>
  <a href="#">聯繫我們</a></li>


  <section>
    <h2>最新上映電影</h2>
    <div class="movie">
      <img src='/templates/毒舌大狀2023.jpg' alt="電影1">
      <h3>電影1</h3>
      <p>劇情簡介...</p>
      <a href="毒舌大狀.html">查看詳情</a>
    </div>
    <div class="movie">
      <img src='/templates/飯戲攻心.jpg' alt="電影2">
      <h3>電影2</h3>
      <p>劇情簡介...</p>
      <a href="飯氣攻心.html">查看詳情</a>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 百老匯影院. All rights reserved.</p>
  </footer>
</body>
</html>