{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Cinema Location{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 24px; font-weight: bold;">Cinema Location</h3>
                </div>
                <div class="panel-body">
                    <div class="map-container">
                    <img src="https://www.cinema.com.hk/images/map.jpg" alt="Map" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 24px; font-weight: bold;">
                        <a href="{{ url_for('cinema_location') }}">Cinemas</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="index-cinema-tab-content-container">
                        <div class="index-cinema-tab-content">
                            <div class="index-cinema-tab-row">
                                <div class="index-cinema-tab-district" style="font-size: 18px; color: red">HK</div>
                                <ul>
                                    <div class="cinema-name" data-cinema-id="16">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='HK', cinemasid=16) }}"
                                               style="color: #000000">MOViE MOViE Pacific Place (Admiralty)</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="20">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='HK', cinemasid=20) }}"
                                               style="color: #000000">MOViE MOViE Cityplaza (Taikoo Shing)</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="12">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='HK', cinemasid=12) }}"
                                               style="color: #000000">PALACE ifc</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                            <div class="index-cinema-tab-row">
                                <div class="index-cinema-tab-district" style="font-size: 18px; color: red">KLN</div>
                                <ul>
                                    <div class="cinema-name" data-cinema-id="22">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='KLN', cinemasid=22) }}"
                                               style="color: #000000">B+ cinema MOKO (Mong Kok East)</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="14">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='KLN', cinemasid=14) }}"
                                               style="color: #000000">B+ cinema apm (Kwun Tong)</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="21">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='KLN', cinemasid=21) }}"
                                               style="color: #000000">PREMIERE ELEMENTS</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="10">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='KLN', cinemasid=10) }}"
                                               style="color: #000000">CINEMATHEQUE</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="5">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='KLN', cinemasid=5) }}"
                                               style="color: #000000">MONGKOK</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                            <div class="index-cinema-tab-row">
                                <div class="index-cinema-tab-district" style="font-size: 18px; color: red">NT</div>
                                <ul>
                                    <div class="cinema-name" data-cinema-id="19">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='NT', cinemasid=19) }}"
                                               style="color: #000000">MY CINEMA YOHO MALL</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="6">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='NT', cinemasid=6) }}"
                                               style="color: #000000">KWAI FONG</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="3">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='NT', cinemasid=3) }}"
                                               style="color: #000000">TSUEN WAN</a>
                                        </li>
                                    </div>
                                    <div class="cinema-name" data-cinema-id="9">
                                        <li>
                                            <a href="{{ url_for('cinemas', region='NT', cinemasid=9) }}"
                                               style="color: #000000">KINGSWOOD</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
