<!DOCTYPE html>
<html>
<head>
  <title>即日電影</title>
  <style>
    .photo {
      display: inline-block;
      margin: 10px;
    }
  </style>
</head>
<body>

  <h1>即日 / 預售電影</h1>
  <div class="photo">
    <img src="毒舌大狀2023.jpg" alt="毒舌大狀" width="200" height="300">
    <p>毒舌大狀</p>
  </div>
  
  <div class="photo">
    <img src="飯戲攻心.jpg" alt="飯戲攻心" width="200" height="300">
    <p>飯戲攻心</p>
  </div>
  
  <div class="photo">
    <img src="阿凡達：水之道.jpg" alt="阿凡達：水之道" width="200" height="300">
    <p>阿凡達：水之道</p>
  </div>
  
  <div class="photo">
    <img src="灌籃高手 THE FIRST SLAM DUNK.jpg" alt="灌籃高手 THE FIRST SLAM DUNK" width="200" height="300">
    <p>灌籃高手</p>
  </div>

  <div class="photo">
    <img src="鈴芽之旅.jpg" alt="鈴芽之旅" width="200" height="300">
    <p>鈴芽之旅</p>
  </div>

  <div class="photo">
    <img src="捍衛任務4.jpg" alt="捍衛任務4" width="200" height="300">
    <p>捍衛任務4</p>
  </div>

  <div class="photo">
    <img src="玩命關頭X.jpg" alt="玩命關頭X" width="200" height="300">
    <p>玩命關頭X</p>
  </div>

  <div class="photo">
    <img src="變形金剛：萬獸崛起.jpg" alt="變形金剛：萬獸崛起" width="200" height="300">
    <p>變形金剛：萬獸崛起</p>
  </div>

  <div class="photo">
    <img src="金手指.jpg" alt="金手指" width="200" height="300">
    <p>金手指</p>
  </div>
</body>
</html>