{% extends 'base.html.j2' %}

{% block content %}
<div class="logo-row">
            <a href="{{ url_for('index') }}">
                <img src="https://www.asia.ccb.com/hongkong_tc/personal/credit_cards/promotions/cinemas-offers/images/broadway-circuit-logo.jpg"
                     alt="Logo"
                     class="logo"
                     style="width: 200px"></a>
</div>

<head>
  <title>即日電影</title>
  <style>
    .photo {
      display: inline-block;
      margin: 10px;
    }
  </style>
</head>
<body>

  <h1>即日 / 預售電影</h1>
  <div class="photo">
  <a href="{{ url_for('reviews') }}" target="_blank">
    <img src="{{ url_for('static', filename='毒舌大狀2023.jpg') }}" alt="{{ _('Movie11') }}" width="200" height="300">
    <p>毒舌大狀</p>
  </a>
  </div>
  
  <div class="photo">
  <a href="{{ url_for('reviewa') }}" target="_blank">
    <img src="{{ url_for('static', filename='飯戲攻心.jpg') }}" alt="{{ _('Movie12') }}" width="200" height="300">
    <p>飯戲攻心</p>
  </a>
  </div>
  
  <div class="photo">
  <a href="{{ url_for('movie13') }}" target="_blank">
    <img src="{{ url_for('static', filename='阿凡達：水之道.jpg') }}" alt="{{ _('Movie13') }}" width="200" height="300">
    <p>阿凡達：水之道</p>
  </a>
  </div>
  
  <div class="photo">
  <a href="{{ url_for('movie14') }}" target="_blank">
    <img src="{{ url_for('static', filename='灌籃高手 THE FIRST SLAM DUNK.jpg') }}" alt="{{ _('Movie14') }}" width="200" height="300">
    <p>灌籃高手</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie15') }}" target="_blank">
    <img src="{{ url_for('static', filename='鈴芽之旅.jpg') }}" alt="{{ _('Movie15') }}" width="200" height="300">
    <p>鈴芽之旅</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie16') }}" target="_blank">
    <img src="{{ url_for('static', filename='捍衛任務4.jpg') }}" alt="{{ _('Movie16') }}" width="200" height="300">
    <p>捍衛任務4</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie17') }}" target="_blank">
    <img src="{{ url_for('static', filename='玩命關頭X.jpg') }}" alt="{{ _('Movie17') }}" width="200" height="300">
    <p>玩命關頭X</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie18') }}" target="_blank">
    <img src="{{ url_for('static', filename='變形金剛：萬獸崛起.jpg') }}" alt="{{ _('Movie18') }}" width="200" height="300">
    <p>變形金剛：萬獸崛起</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie19') }}" target="_blank">
    <img src="{{ url_for('static', filename='金手指.jpg') }}" alt="{{ _('Movie19') }}" width="200" height="300">
    <p>金手指</p>
  </a>
  </div>
</body>
{% endblock %}