{% extends "base.html.j2" %}

{% block content %}
<body>
  <section>
    <h2>最新上映電影</h2>
    <div class="movie">
      <img src='/templates/毒舌大狀2023.jpg' alt="電影1">
      <h3>電影1</h3>
      <p>劇情簡介...</p>
    <li>
      <a href="{{ url_for('reviews') }}" style="color: black;">{{ _('查看詳情') }}</a>
    </li>
    </div>
    <div class="movie">
      <img src='/templates/飯戲攻心.jpg' alt="電影2">
      <h3>電影2</h3>
      <p>劇情簡介...</p>
    <li>
      <a href="{{ url_for('reviewa') }}" style="color: black;">{{ _('查看詳情') }}</a>
    </li>
    </div>
  </section>

  <footer>
    <p>&copy; 2024 百老匯影院. All rights reserved.</p>
  </footer>
</body>
{% endblock %}