{% extends 'index.html.j2' %}
{% block content %}
<head>
  <title>即將上映</title>
  <style>
    .photo {
      display: inline-block;
      margin: 10px;
    }
  </style>
</head>

<body>

  <h1>即將上映</h1>

  <h2>2024電影推薦8月片單</h2>

  <div class="photo">
    <img src="機密特務：阿蓋爾.jpg" alt="機密特務：阿蓋爾" width="200" height="300">
    <p>機密特務：阿蓋爾</p>
  </div>

  <div class="photo">
    <img src="愛愛愛上你.jpg" alt="愛愛愛上你" width="200" height="300">
    <p>愛愛愛上你</p>
  </div>

  <h3>2024電影推薦9月片單</h3>

  <div class="photo">
    <img src="外星+人2：回到未來.jpg" alt="外星+人2：回到未來" width="200" height="300">
    <p>外星+人2：回到未來</p>
  </div>

  <div class="photo">
    <img src="可憐的東西.jpg" alt="可憐的東西" width="200" height="300">
    <p>可憐的東西</p>
  </div>

  <h4>2024電影推薦10月片單</h4>

  <div class="photo">
    <img src="天魔：惡之初.jpg" alt="天魔：惡之初" width="200" height="300">
    <p>天魔：惡之初</p>
  </div>

  <div class="photo">
    <img src="蜘蛛夫人.jpg" alt="蜘蛛夫人" width="200" height="300">
    <p>蜘蛛夫人</p>
  </div>

  <h5>2024電影推薦11月片單</h5>

  <div class="photo">
    <img src="青春18×2 通往有你的旅程.jpg" alt="青春18×2 通往有你的旅程" width="200" height="300">
    <p>青春18×2 通往有你的旅程</p>
  </div>

  <div class="photo">
    <img src="伏慄熊.jpg" alt="伏慄熊" width="200" height="300">
    <p>伏慄熊</p>
  </div>

  <h6>2024電影推薦12月片單</h6>

  <div class="photo">
    <img src="哥吉拉與金剛：新帝國.jpg" alt="哥吉拉與金剛：新帝國" width="200" height="300">
    <p>哥吉拉與金剛：新帝國</p>
  </div>

  <div class="photo">
    <img src="沙丘：第二部.jpg" alt="沙丘：第二部" width="200" height="300">
    <p>沙丘：第二部</p>
  </div>
</body>
{% endblock %}