{% extends 'base.html.j2' %}

{% block content %}
<div class="logo-row">
            <a href="{{ url_for('index') }}">
                <img src="https://www.asia.ccb.com/hongkong_tc/personal/credit_cards/promotions/cinemas-offers/images/broadway-circuit-logo.jpg"
                     alt="Logo"
                     class="logo"
                     style="width: 200px"></a>
</div>

<head>
  <title>即將上映</title>
  <style>
    .photo {
      display: inline-block;
      margin: 10px;
    }
  </style>
</head>

<body>

  <h1>即將上映</h1>

  <h2>2024電影推薦8月片單</h2>

  <div class="photo">
  <a href="{{ url_for('movie1') }}" target="_blank">
   <img src="{{ url_for('static', filename='機密特務：阿蓋爾.jpg') }}" alt=“{{ _('Movie1') }}” width="200" height="300"> 
    <p>機密特務：阿蓋爾</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie2') }}" target="_blank">
    <img src="{{ url_for('static', filename='愛愛愛上你.jpg') }}" alt=“{{ _('Movie2') }}” width="200" height="300">
    <p>愛愛愛上你</p>
  </a>
  </div>

  <h3>2024電影推薦9月片單</h3>

  <div class="photo">
  <a href="{{ url_for('movie3') }}" target="_blank">
    <img src="{{ url_for('static', filename='外星+人2：回到未來.jpg') }}" alt=“{{ _('Movie3') }}” width="200" height="300">
    <p>外星+人2：回到未來</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie4') }}" target="_blank">
    <img src="{{ url_for('static', filename='可憐的東西.jpg') }}" alt="{{ _('Movie4') }}" width="200" height="300">
    <p>可憐的東西</p>
  </a>
  </div>

  <h4>2024電影推薦10月片單</h4>

  <div class="photo">
  <a href="{{ url_for('movie5') }}" target="_blank">
    <img src="{{ url_for('static', filename='天魔：惡之初.jpg') }}" alt="{{ _('Movie5') }}" width="200" height="300">
    <p>天魔：惡之初</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie6') }}" target="_blank">
    <img src="{{ url_for('static', filename='蜘蛛夫人.jpg') }}" alt="{{ _('Movie6') }}" width="200" height="300">
    <p>蜘蛛夫人</p>
  </a>
  </div>

  <h5>2024電影推薦11月片單</h5>

  <div class="photo">
  <a href="{{ url_for('movie7') }}" target="_blank">
    <img src="{{ url_for('static', filename='青春18×2 通往有你的旅程.jpg') }}" alt="{{ _('Movie7') }}" width="200" height="300">
    <p>青春18×2 通往有你的旅程</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie8') }}" target="_blank">
    <img src="{{ url_for('static', filename='伏慄熊.jpg') }}" alt="{{ _('Movie8') }}" width="200" height="300">
    <p>伏慄熊</p>
  </a>
  </div>

  <h6>2024電影推薦12月片單</h6>

  <div class="photo">
  <a href="{{ url_for('movie9') }}" target="_blank">
    <img src="{{ url_for('static', filename='哥吉拉與金剛：新帝國.jpg') }}" alt="{{ _('Movie9') }}" width="200" height="300">
    <p>哥吉拉與金剛：新帝國</p>
  </a>
  </div>

  <div class="photo">
  <a href="{{ url_for('movie10') }}" target="_blank">
    <img src="{{ url_for('static', filename='沙丘：第二部.jpg') }}" alt="{{ _('Movie10') }}" width="200" height="300">
    <p>沙丘：第二部</p>
  </a>
  </div>
</body>
{% endblock %}