{% extends "index.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="飯戲攻心.jpg" alt="飯戲攻心">
</head>

<body>
    <h1>电影簡介</h1>

    <p>一家三兄弟，大哥戀戀不忘的前女友Monica竟成為同母異父二哥的現任女友。自尊心驅使下，大哥答應新結識的喵喵追求。
    同父異母的三弟和女友Josephine長跑多年，也面臨愛情危機。同一屋簷下，3對情侶，4段戀情，每晚人齊開餐的相聚漸漸演變成飯桌修羅場，啼笑不停。
    面對舊愛與新歡，大哥將作何選擇？大家努力維持的這個家，又該何去何從？從此，每晚6人一齊撐檯腳。</p>
    
    <h1>基本資料</h1>
        
    <p>導演	陳詠燊
       監製	江志強
       何韻明
       李綺雯
       編劇	陳詠燊
       主演	
       黃子華
       鄧麗欣
       張繼聰
       王菀之
       林明禎
       陳湛文</p>

    <main>
        <section>
            <h2>飯戲攻心預告片</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/k7BdhlOT0ME" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户評論將由 JavaScript 動態添加 -->
    </ul>
</body>
{% endblock %}