{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='伏慄熊.jpg') }}" width="200" height="300">
</head>
<body>
    <h1>电影簡介</h1>

    <p>潔西卡（德汪達懷斯 飾）帶著家人回到老家時，發現了她小時候的熊布偶「巧芯」，而她的繼女愛麗絲（派柏布朗 飾）很快就跟這個布偶變得形影不離，然而，隨著愛麗絲跟巧芯玩的遊戲內容越來越瘋狂，潔西卡才意識到它可能不是單純的熊布偶……。</p>

    <h1>基本資料</h1>
        
    <p>導演	傑夫·瓦德洛
        監製	
        傑夫·瓦德洛
        傑森·布倫
        編劇	
        傑夫·瓦德洛
        葛瑞格·厄布（Greg Erb）
        傑森·奧倫蘭（Jason Oremland）
        主演	
        德汪達·懷斯
        湯姆·佩恩
        泰根·伯恩斯（Taegen Burns）
        派柏·布朗（Pyper Braun）
        維若妮卡·法肯
        貝蒂·芭克利</p>

    <main>
        <section>
            <h2>伏慄熊預告片</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PPSx2EW4bj0" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}