{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='天魔：惡之初.jpg') }}" width="200" height="300">
</head>
<body>
    <h1>电影簡介</h1>

    <p>一名年輕美國女子被派往羅馬、展開服侍教會的人生，卻接觸令她質疑信仰的黑暗力量，並揭露惡魔轉世的可怕陰謀。

    第一部電影《天魔》於將近半世紀前的1976年推出，構想來自資深編劇大衛賽爾澤，由《超人》和《致命武器》系列票房大導李察唐納執導、金獎影帝葛雷葛萊畢克主演，敘述一位美國大使在義大利領養一名母親因難產去世的嬰兒，後來卻發生一連串可怕駭人的靈異事件，而這一切的始作俑者，竟是這個身為惡魔轉世的嬰兒！

    《天魔》當年一推出便造成轟動，創下全美年度票房第六名的賣座佳績，也廣獲好評並入圍兩項奧斯卡、獲得最佳原創配樂，《天魔續集》和《天魔3》則分別於兩年和五年後趁勝追擊陸續面世，但此後只有僅在電視播出的《天魔4：天魔甦醒》，以及數年前的續篇影集《惡魔之子》，本片標榜距離正宗原始三部曲長達將近半世紀後，才終於重返大銀幕的正式系列作，而且還是全新創作的前傳故事，更令此一系列影迷迫不及待！</p>
    
    <h1>基本資料</h1>
        
    <p>導演	阿卡夏·史蒂文森
        監製	
        大衛·S·高耶
        凱思·萊文（Keith Levine）
        劇本	
        提姆·史密斯（Tim Smith）
        阿卡夏·史蒂文森
        凱思·湯瑪斯
        故事	班·雅各比（Ben Jacoby）
        原著	角色
        大衛·謝茲作品
        主演	
        妮兒·泰格·弗里
        陶費克·巴爾宏
        索尼婭·布拉加
        拉爾夫·尹愛森
        比爾·奈伊</p>

    <main>
        <section>
            <h2>天魔：惡之初預告片</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kO_4Po_eVLQ" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}