{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='捍衛任務4.jpg') }}" width="200" height="300">
</head>
<body>
    <h1>电影簡介</h1>

    <p>該片講述了大難不死的約翰·威克（基努·裡維斯飾）為了獲得期盼已久的安寧與自由，越洋前往大阪大陸酒店，向經理兼老朋友島津浩二（真田廣 之飾）求助。 另一方面，高桌會的新領導人文森特·德·格拉蒙特侯爵（比爾·斯卡斯加德飾）決心斬草除根，他先對付紐約大陸酒店經理溫斯頓（伊恩·麥柯肖恩飾） ，再逼使威克昔日戰友該隱（甄子丹飾）替他效力，誓要孤立約翰·威克的同時，不斷提高對約翰·威克的賞金。 在巨額賞金的誘惑下，吸引了潛在的賞金獵人對威克的追殺。 被逐出高桌會的威克在與高桌會的對抗過程中找到了擊敗高桌會的方法，最終在朋友的幫助下，開始了自己的反擊 。 為了找出一條真正出路、打破宿命，威克決定向格拉蒙特侯爵提出生死決鬥，勝利便能從此逃離追殺、重獲真正自由；但他不知道，侯爵早於決鬥地點·巴黎布下天羅地網，只 待他墮入死亡陷阱。</p>
    <h1>基本資料</h1>
        
    <p>導演	查德·史塔赫斯基
        監製	
        貝索·伊旺尼克
        艾莉卡·李
        查德·史塔赫斯基
        編劇	
        沙伊·哈頓
        麥可·芬奇
        原著	角色
        由德瑞克·柯斯達創作
        主演	
        基努·李維
        甄子丹
        比爾·史柯斯嘉
        勞倫斯·費許朋
        真田廣之
        沙米爾·安德森
        藍斯·瑞迪克
        澤山璃奈
        史考特·阿金斯
        伊恩·麥克夏恩</p>

    <main>
        <section>
            <h2>捍衛任務4預告片</h2>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/8O784P2hP4g" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}