{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='機密特務：阿蓋爾.jpg') }}" alt="機密特務：阿蓋爾"> 
</head>
<body>
    <h1>电影簡介</h1>

    <p>《機密特工：阿蓋爾》是一部機智幽默、全球走透的間諜驚悚片，劇情描述一名暢銷諜報小說系列作家“艾莉康威”，個性孤僻、生活低調，平常最喜歡宅在家 ，一邊打電腦一邊陪她的愛貓阿飛玩。</p>
    <h1>基本資料</h1>
        
    <p>導演	馬修·范恩
        監製	
        馬修·范恩
        亞當·波林
        大衛·瑞德
        傑森·福斯
        劇本	傑森·福斯
        主演	
        亨利·卡維爾
        布萊絲·達拉斯·霍華
        山姆·洛克威爾
        布萊恩·克蘭斯頓
        凱薩琳·奧哈拉
        杜娃·黎波
        亞莉安娜·黛博塞
        約翰·希南
        山繆·傑克森</p>

    <main>
        <section>
            <h2>機密特務：阿蓋爾預告片</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/W6ElB8Yv8uc" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}