{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='玩命關頭X.jpg') }}" width="200" height="300">
</head>
<body>
    <h1>电影簡介</h1>

    <p>「唐老大」多明尼克·托萊多（範·迪塞爾飾）與萊蒂·奧爾蒂斯（米歇爾·羅德里格茲飾）和他的兒子小布萊恩，過上了遠離紛擾 的平靜生活。
    然而一個晚上，昔日的死對頭塞弗（查理茲·塞隆飾）主動找上門告知唐老大和整個飛車家族都將遭遇危險。 隨後，唐老闆從「小無名氏」先生（史考特伊斯特伍德飾）得知飛車家族的幾位朋友接到了假任務。
    為了拯救眾人，唐老大和萊蒂前往羅馬救人，而把小兒子託給米婭（喬丹娜·布魯斯特飾）和雅各布（約翰·塞納飾）照顧。
    在羅馬的交鋒中，唐老大發現對手叫但丁（傑森莫瑪飾），是毒梟赫南雷耶斯的兒子；而他卻不想讓唐老大和飛車家族立刻消失，而是 要慢慢折磨他們，連曾經幫助過飛車家族或是有關聯的人也不會放過。</p>
    <h1>基本資料</h1>
        
    <p>導演	路易斯·賴托瑞
        監製	
        尼爾·H·摩里茲
        馮·迪索
        林詣彬
        傑夫·基爾斯鮑姆
        莎曼珊·文森
        劇本	
        丹·馬佐
        林詣彬
        故事	
        丹·馬佐
        林詣彬
        扎克·迪恩
        原著	角色
        由蓋瑞·史考特·湯普森創作
        主演	
        馮·迪索
        蜜雪兒·羅德里奎茲
        泰瑞斯·吉布森
        路達克里斯
        約翰·希南
        娜塔莉·伊曼紐爾
        喬丹娜·布魯斯特
        姜成鎬
        史考特·伊斯威特
        丹妮拉·梅爾基奧
        艾倫·瑞奇森
        海倫·米蘭
        布麗·拉森
        麗塔·莫瑞諾
        傑森·史塔森
        傑森·摩莫亞
        莎莉·賽隆</p>

    <main>
        <section>
            <h2>玩命關頭X預告片</h2>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/5gcuGLJN2uU" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}