{% extends 'movie.html.j2' %}

{% block content %}
<head>
    <title>电影影评</title>
    <link rel="stylesheet" href="4115group project.css">
    <img src="{{ url_for('static', filename='鈴芽之旅.jpg') }}" width="200" height="300">
</head>
<body>
    <h1>电影簡介</h1>

    <p>鈴芽是一位生活在九州的一個寧靜小鎮上的17歲少女，在2023年9月25日這天，她遇到了「正在找門」的旅行青年草太。 跟著他的腳步，鈴芽來到了山上的廢墟之地，她發現有一扇古老的門孤零零地佇立在那。 鈴芽彷彿被什麼吸引了一般，將手伸向了那扇門…
    據說，災禍將會從門的那一邊降臨於現世，所以草太作為將門鎖上的「閉門師」在各地旅行。
    “鈴芽，我喜歡”“至於你，礙事”
    大臣話音剛落，草太就變成了椅子，而且那是鈴芽小時候媽媽作為生日禮物送給她的缺了一條腿的椅子。 為了抓住大臣，草太以三條腿椅子的樣子跑了出去，鈴芽也慌忙地跟了上去。
    不久之後，日本各地的門開始一扇門一扇地打開。 在奇異的門和小貓的引導下，鈴芽在九州、四國、關西，還有東京及日本列島開始了「鎖門之旅」。 途中鈴芽得到了很多幫助，當她在9月29日到達最後一扇往門時，她發現了一個被遺忘的真相。</p>
    <h1>基本資料</h1>
        
    <p>原作	新海誠
       導演	新海誠
       編劇	新海誠
       人物設定	田中將賀
       音樂	RADWIMPS、陣內一真</p>

    <main>
        <section>
            <h2>鈴芽之旅預告片</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cHI_O_kjmjk" frameborder="0" allowfullscreen></iframe>
        </section>
    </main>

    <h2>添加评论</h2>

    <form>
        <label for="movieTitle">电影标题：</label>
        <input type="text" id="movieTitle" placeholder="请输入您的标题">
        <br>
        <br>
        <label for="comment">评论内容：</label>
        <textarea id="comment" placeholder="请输入您的想法"></textarea><br>
        <button id="submit-btn">提交評論</button>
    </form>

    <h2>用户评论</h2>

    <ul id="userComments">
        <!-- 用户评论将由 JavaScript 动态添加 -->
    </ul>
</body>
{% endblock %}